
Admin Edits User Info
</p>
<p>
<form action="/admin" method="post">
    Input Username: <input name="username" type="text"  required/>
</br>
    Change Username: <input name="usernameNew" type="text" />
</br>
    Change Password: <input name="passwordNew" type="password" />
</br>
    Change Role: <select name="role">
      <!-- User's current role should be top option-->
        <option value="marriage">Marriage Officiator</option>
        <option value="medical">Medical Practicioner</option>
        <option value="funeral">Funeral Director</option>
        <option value="staff">Staff</option>
        <option value="admin">Admin</option>
    </select>
        <input value="Confirm Changes" type="submit" />
</br>
</form>
</p>
</center>
