
Edit User Info
</p>
<p>
<form action="/edituser" method="post">
    Change Username: <input name="username" type="text" />
</br>
    Change Password: <input name="password" type="password" />
</br>
    Confirm New Password: <input name="password2" type="password" />
</br>
    Change Role: <select name="role">
      <!-- User's current role should be top option-->
        <option value="0">Marriage Officiator</option>
        <option value="1">Medical Practicioner</option>
        <option value="2">Funeral Director</option>
    </select>
</br>
    Current Password: <input name="curpassword" type="password" required/>
    <input value="Confirm Changes" type="submit" />
</form>
</p>
</center>
