
Enter family members of lost one (note, place next of kin only in second field):
</p>
<p>
<form action="/funeralDir" method="post">
Name: <input name="funeralName" type="text" required/>
</br>
</br>
Individual healthcare ID: <input name="healthcareID" type="number" required/>
   </br>
   </br>
    Family members: <input name="familyMembers" type="text" required />
	</br>
	</br>
    Next of kin: <input name="nextOfKin" type="text" required />
	</br>
	</br>
    <input value="Confirm Entry" type="submit" />
	 </br>
</form>
</p>
</center>
