
<p>

	<form action="/login" method="post">
	<table>
            <thead><b><u>Login</u></b></thead>
            
		<tbody>
			<tr>
				<td>
					<label>Username: </label>
				</td>
				<td align="right">
					<input name="username" type="text" />
				</td>
			</tr>
			<tr>
				<td>
					<label>Password: </label>
				</td>
				<td align="right">
					<input name="password" type="password" />
				</td>
			</tr>
			<tr>
			<td>
			</td>
			<td align="center">
		
		<input value="Login" type="submit" />
		</td>
		</tr>
	</form>
</p>



