<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'wedding')" id="defaultOpen">Wedding</button>
  <button class="tablinks" onclick="openTab(event, 'divorce')">Divorce</button>
</div>

<div id="wedding" class="tabcontent">
  <h3>Wedding</h3>
  Enter time, place and participants for the wedding:
  </p>
  <form action="/wedding" method="post">
     Time: <input name="weddingTime" type="date" required />
  </br>
	</br>
  	Place: <input name="weddingPlace" type="text" required />
  </br>
  </br>
  	Groom: <input name="weddingGroom" type="text" required />
  <!-- </br> -->
  	Bride: <input name="weddingBride" type="text" required/>
  </br>
  </br>
  	<input value="Confirm Entry" type="submit" />
  </br>
</div>


<div id="divorce" class="tabcontent">
  <h3>Divorce</h3>
  Enter time, place and participants for the divorce:
  </p>
  <p>
  <form action="/divorce" method="post">
   Time: <input name="divorceTime" type="date" required/>
  </br>
  </br>
  	Place: <input name="divorcePlace" type="text" required/>
  </br>
  </br>
  	Husband: <input name="divorceHusband" type="text" required/>
  <!-- </br> -->
  	Wife: <input name="divorceWife" type="text" required/>
  </br>
  </br>
  	<input value="Confirm Entry" type="submit" />
  </br>
</div>



</form>
</p>
</center>

<script>
// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
