<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'birth')" id="defaultOpen">Birth</button>
  <button class="tablinks" onclick="openTab(event, 'death')">Death</button>
</div>

<div id="birth" class="tabcontent">
  <h3>Birth</h3>
  Enter time, place and parents for the birth:
  </p>
  <p>
  <form action="/birth" method="post">
     Name: <input name="birthName" type="text" required/>
    </br>
    </br>
    Individual healthcare ID: <input name="healthcareID" type="number" required/>
    </br>
     </br>
     Time: <input name="birthTime" type="date" required/>
  </br>
  </br>
  	Place: <input name="birthPlace" type="text" required/>
  </br>
  </br>
  	Father: <input name="birthFather" type="text" required/>
  <!-- </br> -->
  	Mother: <input name="birthMother" type="text" required/>
  </br>
  </br>
  	<input value="Confirm Entry" type="submit" />
  </br>
</div>


<div id="death" class="tabcontent">
  <h3>Death</h3>
  Enter name, time, cause and use of autopsy for the death:
  </p>
  <p>
  <form action="/death" method="post">
   Name: <input name="deathName" type="text" required/>
   </br>
   </br>
   Individual healthcare ID: <input name="healthcareID" type="number" required/>
    </br>
     </br>
   Time: <input name="deathTime" type="date" required/>
  </br>
  </br>
  	Cause: <input name="deathCause" type="text" required/>
  </br>
  </br>
  	Autopsy: <input name="deathAutopsy" type="checkbox" value="Yes" checked/>
  </br>
  </br>
  	<input value="Confirm Entry" type="submit" required/>
  </br>
</div>



</form>
</p>
</center>

<script>
// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
