

<p>
    <form action="/register" method="post">
        <table>
            <thead><b><u>Register</u></b></thead>
            <tbody>
                <tr>
                    <td>
                        <label>Username: </label>
                    </td>
                    <td align="right">
                        <input name="username" type="text" required/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Password: </label>
                    </td>
                    <td align="right">
                        <input name="password" type="password" required/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Confirm Pass: </label>
                    </td>
                    <td align="right">
                        <input name="password2" type="password" required/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Select Role:  </label>
                    </td>
                    <td align="right">
                        <select name="role">
                            <option value="marriage">Marriage Officiator</option>
                            <option value="medical">Medical Practicioner</option>
                            <option value="funeral">Funeral Director</option>
                        </select>
                    </td>
                </tr>
            </br>
            <tr>
            <td>
            <label>Submit: </label>
            </td>
            <td align="center">
            
            <input value="Create Account" type="submit" />
            </td>
            </tr>
        </form>
        </tbody>
        </table>

    
</center>
</p>