
  <form action="/wedding" method="post">
     Time: <input name="weddingTime" type="date" required />
  </br>
	</br>
  	Place: <input name="weddingPlace" type="text" required />
  </br>
  </br>
  	Groom: <input name="weddingGroom" type="text" required />
  <!-- </br> -->
  	Bride: <input name="weddingBride" type="text" required/>
  </br>
  </br>
  <!-- <form action="/invalid">
      <input type="submit" value="OK" />
  </form> -->
  	<input value="Confirm Entry" type="submit" />
  </br>
  </form>
